@model Loyalty.LoyaltyTest.ProductLine
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white-box">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="white-box">
                <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Product Name</strong>
                            <p>@Model.Product.Name</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Customer Name</strong>
                            <p>@Model.Customer.User.Name</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Tracking Number</strong>
                            <p>@Model.TrackingNumber</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Status</strong>
                            <p>@Model.Progress</p>
                        </div>
                    </div>
                    <!-- /.row --><hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Price</strong>
                            <p>@Model.Product.SellingPrice</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Quantity</strong>
                            <p>@Model.Quantity</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-12">
                            <strong>Total Paid</strong>
                            <p>
                                @{var total = Model.Quantity.Value * Model.Quantity;  }
                                @total
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <p>        
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>