@model IEnumerable<Loyalty.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white-box">
    @if (HttpContext.Current.Session["Role"] == "Admin" || HttpContext.Current.Session["Role"] == "Sale Person") 
    { 
        <div style="margin-bottom: 15px;">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success waves-effect waves-light m-r-10" })
        </div>
    }
    <div class="table-responsive">
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                    @if (HttpContext.Current.Session["Role"] == "Admin")
                    {
                        <th>Cost price</th>
                    }
                    <th>Total Sold</th>
                    <th class="no-sort">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellingPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        @if (HttpContext.Current.Session["Role"] == "Admin")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.CostPrice)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalSold)
                        </td>
                        <td>
                            @if (HttpContext.Current.Session["Role"] == "Admin")
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>
                            }
                            
                            @Html.ActionLink("Details", "Details", new { id = item.Id })

                            @if (HttpContext.Current.Session["Role"] == "Admin")
                            {   
                                <span> | </span>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'pdf', 'print'
            ]
        });
    });

</script>
<!--Style Switcher -->
<script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
