@model Loyalty.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white-box">
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h2 class=""><b>Profile</b></h2>
                <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Name</strong>
                            <p>@Model.Name</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Username</strong>
                            <p>@Model.Username</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Member ID</strong>
                            <p>@Model.Customer.MemberId</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Available Points</strong>
                            <p>@Model.Customer.AvailablePoints</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Redeemed Points</strong>
                            <p>@Model.Customer.RedeemedPoints</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Balance</strong>
                            <p>@Model.Customer.Balance</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-12">
                            <strong>Address</strong>
                            <p>
                                @Model.Address
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <p class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) &nbsp;&nbsp;|&nbsp;&nbsp;
        @Html.ActionLink("Redeem Points", "Redeem", new { id = Model.Id })
    </p>
</div>