@model Loyalty.User

@{
    ViewBag.Title = "Redeem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white-box">
    <h2 class=""><b>Redeem Points</b></h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Name</strong>
                            <p>@Model.Name</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Username</strong>
                            <p>@Model.Username</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Redeemed Points</strong>
                            <p>@Model.Customer.RedeemedPoints</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Available Points</strong>
                            <p>@Model.Customer.AvailablePoints</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r">
                            <strong>Total Points</strong>
                            <p>@Model.Customer.TotalPoints</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Balance</strong>
                            <p>@Model.Customer.Balance</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    @using (Html.BeginForm("Redeem", "Customer", FormMethod.Post,
                     new { enctype = "multipart/form-data", data_toggle = "validator" }))
                    {
                        <div class="row text-center m-t-10">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label for="pointstoberedeemed" class="control-label"><strong>Points to be Redeemed</strong></label>
                                    <br/>
                                    <input type="number" class="form-group" id="pointstoberedeemed" name="pointstoberedeemed" required="required" />
                                </div>


                            </div>
                        </div>
                        <div style="color:red">
                            @Html.ValidationSummary()
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Redeem Now</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success waves-effect waves-light m-r-10" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>